#Header-content {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-box .info-session {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 0.9rem;
  flex-direction: column;
  line-height: 20px;
  max-width: 15rem;
  transition: all 0.3s;
}

.header-box .info-session span:nth-child(1) {
  font-weight: 800;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.header-box .info-session span:nth-child(2) {
  color: #dad2d883;
}

.header-box .container-avatar .avatar {
  background: #383038;
  width: 50px;
  height: 50px;
}

.header-box .container-avatar .avatar img {
  width: 100%;
}

.container-avatar {
  position: relative;
}

.container-avatar svg {
  position: absolute;
  right: -2px;
  bottom: -2px;
  background: var(--color-secundary);
  color: #221e22ce;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.profile-dialog .MuiDialog-paper,
.profile-cropper .MuiDialog-paper {
  background: #523c52;
  transition: all 0.3s;
}

.profile-dialog .dialog-header,
.profile-cropper .dialog-cropper-header {
  color: var(--color-secundary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-dialog .dialog-header svg,
.profile-cropper .dialog-cropper-header svg {
  margin-right: 1rem;
  cursor: pointer;
}

.profile-cropper .MuiDialogContent-root .cropper-box {
  height: 70vh;
  width: 100%;
}

.profile-cropper .MuiDialogContent-root .cropper-box .cropper-container {
  margin: auto;
}

.profile-dialog .profile-content > .MuiTypography-root {
  color: #9c909c;
  line-height: 20px;
  text-align: justify;
}

.profile-dialog .profile-content > .MuiTypography-root svg {
  margin-right: 0.2rem;
  padding-top: 0.1rem;
  font-size: 1rem;
}

.profile-dialog .profile-content .MuiDialogActions-root .info-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDialogActions-root .info-content .avatar-upload img {
  width: 10rem;
  border-radius: 5rem;
}

.MuiDialogActions-root .info-content .avatar-upload .dv-content {
  height: 10rem;
}

.MuiDialogActions-root .info-content .avatar-upload .dv-content > div {
  display: none;
}

.MuiDialogActions-root .info-content .avatar-upload label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.MuiDialogActions-root .info-content .avatar-upload label .hover-state {
  width: 10rem;
  height: 10rem;
  position: absolute;
  border-radius: 5rem;
  transition: all 0.4s;
  cursor: pointer;
  top: 0;
}

.MuiDialogActions-root .info-content .avatar-upload label .hover-state:hover {
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.8);
}

.MuiDialogActions-root .info-content .avatar-upload label > span {
  text-align: center;
  color: var(--color-secundary);
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
}

.profile-cropper .MuiDialog-paper .MuiDialogActions-root button {
  background: var(--color-secundary);
  margin: 0.5rem 1rem;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

.profile-cropper .MuiDialog-paper .MuiDialogActions-root button span {
  font-weight: 500;
  color: var(--color-primary);
}

.profile-cropper .MuiDialog-paper .MuiDialogActions-root button span:first-child {
  font-weight: 500;
  text-transform: none;
  color: var(--color-primary);
}

@media (max-width: 425px) {
  #Header-content {
    height: 3.9rem;
  }
  .header-box .info-session {
    margin-right: 0.2rem;
  }
  .header-box .info-session span:nth-child(1) {
    font-size: 1rem;
  }
  .header-box .info-session span:nth-child(2) {
    font-size: 0.75rem;
  }
  .profile-dialog .MuiDialog-paper,
  .profile-cropper .MuiDialog-paper {
    width: 100%;
    height: 100%;
    margin: auto;
    max-height: 100%;
  }
}
