.side-box {
  width: 4.1rem;
  height: 100vh;
  background: #383038;
  transition: all 0.4s;
}

.side-box:hover {
  width: 13rem;
}

.side-box .options-box a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  position: relative;
}

.side-box .options-box a button {
  padding: 1rem 0;
  border-radius: 0;
  min-width: auto;
}

.side-box .options-box a:hover button {
  background: #221e2254;
}

.side-box .options-box a button .MuiButton-label {
  color: var(--color-secundary);
  font-weight: 500;
  text-transform: none;
  position: relative;
}

.side-box .options-box a button .MuiButton-label span {
  transform: translate(-150px, 0px);
  transition: all 0.31s;
  padding-right: 2rem;
}

.side-box:hover .options-box a button .MuiButton-label span {
  transform: translate(0px, 0px);
}

.side-box .options-box a button .MuiButton-label svg {
  position: absolute;
  right: 1.3rem;
}

.side-box .options-box a .marker {
  width: 4px;
  height: 100%;
  background: var(--color-secundary);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  position: absolute;
  right: 0;
}

@media (max-width: 425px) {
  .side-box {
    width: 3rem;
  }
  .side-box:hover {
    width: 3rem;
  }
  .side-box:not(hover) .options-box a button .MuiButton-label svg {
    right: 0.8rem;
  }
  .side-box:hover .options-box a button .MuiButton-label svg {
    right: 0.8rem;
  }
  .side-box .options-box a button .MuiButton-label {
    padding: 0.7rem 0;
  }
  .side-box .options-box a button .MuiButton-label span {
    display: none;
  }
}
