#Login-content {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.first-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.first-box img {
  width: 7rem;
  border-radius: 3.5rem;
}

.first-box p {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 800;
}

/*  */

.first-box input {
  margin: 1.5rem 0;
  width: 15rem;
  height: 2.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-secundary);
  border-bottom: 1px solid var(--color-secundary-opaque);
  transition: all 0.2s;
  padding: 1.3rem 0;
}

.first-box input::placeholder {
  color: var(--color-secundary-opaque);
}

.first-box input:focus {
  border-bottom-color: var(--color-secundary);
  border-bottom-width: 2px;
}

.first-box input.error {
  border-bottom-color: #ff6347;
}

/*  */

.first-box button {
  width: 15rem;
  text-transform: none;
  font-weight: 800 !important;
  color: var(--color-primary);
}

.first-box button.Mui-disabled {
  background: var(--color-secundary-opaque);
  color: #ffffff59;
  font-weight: normal !important;
  opacity: 0.5;
}
